#gallery{
    margin-top: 2rem;
}

.gallery__head {
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-around;
    align-items: center;
}

.gallery__head > p {
    width: 45rem;
}

.gallery__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    gap: 3rem;
}

.gallery__images article {
    border: 0.5rem solid var(--color-bg1);
    transition: var(--transition);
}

.gallery__images article img {
    height: 100%;
    filter: saturate(0);
    transition: var(--transition);
}

.gallery__images article:hover img {
    filter: saturate(1);
}

.gallery__images article:hover {
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}