*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #fffa54;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-red: #ea2f22;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-seagreen: #2effc2;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #fffa54;
    --color-bg1: #6c63ff;
    --color-bg2: #7c06e3;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background-color: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.1rem;
}

a {
    color: var(--color-black);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/* ============================== NAVBAR ============================== */
nav {
    background: var(--color-red);
    width: 100vw;
    height: 6rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

nav h1 {
    color: var(--color-white);
    font-family: 'Rubik Moonrocks', cursive;
}


nav span {
    color: var(--color-primary);
}

/*change never styles on scroll using javascript*/
.window-scroll {
    background: var(--color-red);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    opacity: .8;
}


.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav__menu a:hover {
    color: var(--color-white);
}

/* ============================== HEADER ============================== */
header {
    position: relative;
    top: 7rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

header img {
    border-radius: 3rem;
}

/* ============================== RESOURCES ============================== */
.resources {
    margin-top: 10rem;
    background: var(--color-seagreen);
    height: 32rem;
}

.resources h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.resources__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}


.resources__right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.resource {
    background: var(--color-success);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.resource:hover {
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.3);
    z-index: 1;
}

.resource:nth-child(2) .resource__icon {
    background: var(--color-danger);
}

.resource:nth-child(3) .resource__icon {
    background: var(--color-bg1);
}

.resource:nth-child(4) .resource__icon {
    background: var(--color-bg1);
}

.resource:nth-child(5) .resource__icon {
    background: var(--color-bg2);
}

.resource__icon {
    background: var(--color-primary);
    padding: 0.4rem;
    border-radius: 1rem;
}

.resource h5 {
    margin: 2rem 0 1rem;
}

.resource p {
    font-size: 0.85rem;
}

/* ============================== POPULAR EVENTS ============================== */
.events {
    margin-top: 12rem;
}

.events__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.event {
    background: var(--color-primary);
    text-align: center;
    border: 1px solid transparent;
    border-color: var(--color-danger);
}

.event:hover {
    background: var(--color-seagreen);
    border-color: var(--color-seagreen);
    transition: var(--transition);

}

.event__info {
    padding: 2rem;
}

.event__info p {
    margin: 1.2rem 0 2rem;
    font-size: 00.9rem;
}

/* ============================== FAQs ============================== */
.faqs {
    margin-top: 5rem;
    background: var(--color-seagreen);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-success);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}

/* ============================== TESTIMONIALS ============================== */
.testimonials__container {
    margin-top: 7rem;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testomonial {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-danger);
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-seagreen);
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
}

.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, var(--color-seagreen), var(--color-seagreen), var(--color-seagreen));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* ============================== FOOTER ============================== */
footer {
    margin-top: 5rem;
    background: var(--color-red);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-danger);
}

footer span {
    color: var(--color-primary);
}

footer span2 {
    color: var(--color-white);
}

/* ============================== PRIVACY POLICY ============================== */
#privacy {
    margin-top: 5rem;
}

.privacy__container {
    background: rgba(246, 74, 6, 0.5);
    border-radius: 1rem;
    padding: 1.2rem 2rem;
}

/* ============================== MEDIA QUERIES (TABLETS) ============================== */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }


    /* ============================== NAVBAR ============================== */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-primary);
        cursor: pointer
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
        opacity: 0.8;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(5) {
        animation-delay: 500ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1); 
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-seagreen);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-success);
        color: var(--color-white)
    }
}

/* ============================== HEADER ============================== */
header {
    margin-top: 2rem;
    height: 66vh;
    margin-bottom: 4rem;
}

.header__container {
    gap: 0;
    padding-bottom: 3rem;
}